<!DOCTYPE html>
  <head>
    <title>Welcome to Bookmark Manager</title>
  </head>

  <body>
    <ul id="links">
      <% @links.each do |link| %>
      <li style="padding: 7px 0px; font-family: Arial;">
        Title: <b><%= "#{link.title}"%></b><br>
        URL: <a href="<%="#{link.url}"%>"><%="#{link.url}"%></a>
      </li>
      <% end  %>
    </ul>

    <form action='/new' method='post'>
      <input type='text' name='Title'>
      <input type='text' name='URL'>
      <input type='submit' value='Add new bookmark'>
    </form>
  </body>

</html>
