<h1> Submit a new link </h1>

<form action='/link' method='POST'>
  <label for='title'>
    Title:
    <input type='text' name='bookmark_name'>
  </label>
  <label for='url'>
    URL:
    <input type='text' name='url'>
  </label>
  <input type='submit' value='create link'>
</form>
