<h1> Create an account </h1>

<form action='/users' method='POST'>
  <label for='email'>
    Email:
    <input type='text' name='email'>
  </label>
  <label for='password'>
    Password:
    <input type='text' name='password'>
  </label>
  <label for='password_confirmation'>
    Confirm password:
    <input type='text' name='password_confirmation'>
  </label>
  <input type='submit' value='Create account'>
</form>
