<h1> BOOKMARKS </h1>
<ul id='link'>
  <% @link.each do |link| %>
    <li>
      Title: <%= link.bookmark_name %>
      URL:  <%= link.url %>
      Tag: <%= link.tag.map{|tag| tag.tag}.join(' : ') %>
    </li>
  <%end%>
  </ul>

  <!-- <form action = '/links/new'>
    <input type = "submit" name = "add link" >
  <\form> -->
