<h1> BOOKMARKS </h1>
<ul id='link'>
  <% @link.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:  <%= link.url %>
    </li>
  <%end%>
  </ul>

  <!-- <form action = '/link/add-new'>
    <input type = "submit" name = "add link" >
  <\form> -->
