<!DOCTYPE html>
<html>
  <head>
    <title> Bookmark Manager </title>
  </head>

  <body>
    <% if current_user %>
      <p>Welcome, <%= current_user.email %>!</p>
    <% end %>
    <%if flash[:notice]%>
      <div id='notice'><%= flash[:notice] %></div>
    <%end%>
    <%=yield %>
  </body>
</html>
